@page "/editAccount/{id}"
@using Microsoft.AspNetCore.Identity;
@using invMed.Data
@inject UserManager<AspNetUser> _UserManager
@inject NavigationManager NavigationManager

<h3>Edit Account</h3>

<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-form-label">Id</label>
                <input form="Id" class="form-control" disabled="true" @bind="@user.Id" />
            </div>
            <div class="form-group">
                <label class="col-form-label">User Name</label>
                <input form="UserName" class="form-control" @bind="@user.UserName" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Email</label>
                <input form="Email" class="form-control" @bind="@user.Email" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateAccount" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

<button class="btn btn-primary" @onclick="() => showResetPassword = true">Reset Password</button>
@if (showResetPassword)
{
    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-form-label">New Password</label>
                    <input form="NewPassword" class="form-control" type="password" @bind="@newPassword" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@ChangePassword" value="Save" />
                    <input type="button" class="btn btn-primary" @onclick="@CancelPasswordReset" value="Cancel" />
                </div>
            </div>
        </div>
    </form>
}
<br/>
<button class="btn btn-primary" @onclick="@Cancel">Back</button>

@code {
    [Parameter]
    public string Id { get; set; }

    AspNetUser user;
    bool showResetPassword = false;
    string newPassword;

    protected override async Task OnInitializedAsync()
    {
        user = await _UserManager.FindByIdAsync(Id);
    }

    protected async Task UpdateAccount()
    {
        await _UserManager.UpdateAsync(user);
        NavigationManager.NavigateTo("AdminPanel");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("AdminPanel");
    }

    protected async Task ChangePassword()
    {
        var resetToken = await _UserManager.GeneratePasswordResetTokenAsync(user);
        await _UserManager.ResetPasswordAsync(user, resetToken, newPassword);
        showResetPassword = false;
    }

    protected void CancelPasswordReset()
    {
        showResetPassword = false;
    }
}
