@page "/deleteProduct/{id:int}"
@using invMed.Data
@inject ProductsService productsService
@inject NavigationManager NavigationManager

<h3>Delete Product</h3>
<h2>Are you sure?</h2>
<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-form-label">Name</label>
                <label>@product.Name</label>
            </div>
            <div class="form-group">
                <label class="col-form-label">Category</label>
                <label>@product.Category</label>
            </div>
            <div class="form-group">
                <label class="col-form-label">Amount</label>
                <label>@product.Amount</label>
            </div>
            <div class="form-group">
                <label class="col-form-label">Price</label>
                <label>@product.Price</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@RemoveProduct" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public int Id { get; set; }

    Product product = new Product();

    protected override async Task OnInitializedAsync()
    {
        product = await productsService.GetProductById(Id);
    }

    protected void RemoveProduct()
    {
        productsService.DeleteProduct(product);
        NavigationManager.NavigateTo("products");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("products");
    }
}