@page "/managerPanel"
@using invMed.Data
@inject IDialogService DialogService
@using invMed.Controls.Products
@using invMed.Data.Enums
@inject SearchService searchService
@inject ProductsService productsService

@attribute [Authorize(Roles = "Admin")]

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4 mt-4">Panel Managera</MudText>
<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.Search" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Wyszukiwarka</MudText>
            <MudAutocomplete T="SearchDto" Label="Szukaj" Class="ml-4 mr-4" Clearable="true" ResetValueOnEmptyText="true" ToStringFunc="@(e=> e==null ? null : e.Type == SearchType.Product ? e.Name : e.Barcode)" Value="searchValue" ValueChanged="OpenSearchDialog" SearchFunc="@Search" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                <ItemTemplate Context="e">
                    <MudText>
                        @(e.Type == SearchType.Item ? e.Barcode : e.Name)
                    </MudText>
                    <MudText Typo="Typo.caption">
                        @(e.Type == SearchType.Item ? e.Name : e.Category)
                    </MudText>
                </ItemTemplate>
            </MudAutocomplete>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="6" lg="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.HorizontalSplit" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
            <div>
                <MudButton Class="mt-2 mr-10" Variant="Variant.Filled" Color="Color.Primary" Link="products">Produkty</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="6" lg="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
            <div>
                <MudButton Class="mt-2 mr-10" Variant="Variant.Filled" Color="Color.Primary">Raporty</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="6" lg="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.Inventory" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
            <div>
                <MudButton Class="mt-2 mr-10" Variant="Variant.Filled" Color="Color.Primary" Link="inventory">Inwentaryzacja</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="6" lg="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.BarChart" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
            <div>
                <MudButton Class="mt-2 mr-10" Variant="Variant.Filled" Color="Color.Primary" Link="#">Statystyki</MudButton>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" lg="6" Style="float: left">
        <MudPaper Elevation="25" Class="pa-4" Style="min-height: 530px;">
            @if (runOutProducts is not null)
            {
                <MudTable Breakpoint="Breakpoint.Sm" RowsPerPage="5" Elevation="0" Items="@runOutProducts" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Wyczerpujące się produkty</MudText>
                        <MudSpacer />
                    </ToolBarContent>
                    <ColGroup>
                        <col />
                        <col />
                        <col />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Nazwa</MudTh>
                        <MudTh>Kategoria</MudTh>
                        <MudTh>Ilość</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nazwa">@context.Name</MudTd>
                        <MudTd DataLabel="Kategoria">@context.Category</MudTd>
                        <MudTd DataLabel="Ilość">@context.Amount</MudTd>
                        <MudTd DataLabel="Komunikat">
                            @if (context.ComunicateType == RunOutComunicateType.Empty)
                            {
                                <MudChip Size="Size.Small" Color="Color.Error">Przekroczono stan minimalny</MudChip>
                            }
                            else if (context.ComunicateType == RunOutComunicateType.Small)
                            {
                                <MudChip Size="Size.Small" Color="Color.Warning">Pozostała mała ilość</MudChip>
                            }
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] {5}" RowsPerPageString="Produkty na stronę" InfoFormat="{first_item}-{last_item} z {all_items}" />
                    </PagerContent>
                </MudTable>
            }
            else
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
            }
        </MudPaper>
    </MudItem>

    <MudItem xs="12" lg="6" Style="float: left">
        <MudPaper Elevation="25" Class="pa-4" Style="min-height: 530px;">
            @if (expiredItems is not null)
            {
                <MudTable Breakpoint="Breakpoint.Sm" RowsPerPage="5" Elevation="0" Items="@expiredItems" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Towary z bliską datą ważności</MudText>
                        <MudSpacer />
                    </ToolBarContent>
                    <ColGroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>Nazwa</MudTh>
                        <MudTh>Kategoria</MudTh>
                        <MudTh>Barkod</MudTh>
                        <MudTh>Data ważności</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nazwa">@context.ProductName</MudTd>
                        <MudTd DataLabel="Kategoria">@context.ProductCategory</MudTd>
                        <MudTd DataLabel="Barkod">@context.BarCode</MudTd>
                        <MudTd DataLabel="Data ważności">@context.ExpirationDate</MudTd>
                        <MudTd DataLabel="Komunikat">
                            @if (context.ComunicateType == ExpiredComunicateType.Expired)
                            {
                                <MudChip Size="Size.Small" Color="Color.Error">Przekroczony termin</MudChip>
                            }
                            else if (context.ComunicateType == ExpiredComunicateType.Close)
                            {
                                <MudChip Size="Size.Small" Color="Color.Warning">Bliski termin</MudChip>
                            }
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] {5}" RowsPerPageString="Towary na stronę" InfoFormat="{first_item}-{last_item} z {all_items}" />
                    </PagerContent>
                </MudTable>
            }
            else
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
            }
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    private SearchDto searchValue;
    private List<RunOutProductView> runOutProducts;
    private List<ExpiredItemView> expiredItems;
    private DialogOptions maxDialogWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    protected override async Task OnInitializedAsync()
    {
        runOutProducts = await productsService.GetRunOutProducts();
        expiredItems = await productsService.GetExpiredItems();
    }

    private async Task<IEnumerable<SearchDto>> Search(string value)
    {
        if (string.IsNullOrEmpty(value))
            return new List<SearchDto>();

        return await searchService.Search(value);
    }

    private void OpenSearchDialog(SearchDto searchDto)
    {
        if (searchDto.Type == SearchType.Product)
        {
            var parameters = new DialogParameters { ["productId"] = searchDto.Id };
            DialogService.Show<ProductDetailsDialog>("Szczegóły produktu", parameters, maxDialogWidth);
        }
        else if (searchDto.Type == SearchType.Item)
        {
            var parameters = new DialogParameters { ["itemId"] = searchDto.Id };
            var dialog = DialogService.Show<ItemDetailsDialog>("Szczegóły", parameters, maxDialogWidth);
        }
    }
}